{# src/Blog/Bundle/Resources/views/Article/add.html.twig #}

{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
  Ajouter un article - {{ parent() }}
{% endblock %}

{% block blog_body %}

  <h2>Ajouter une information</h2>

  {{ include("BlogBundle:Article:form.html.twig") }}

  <p>
    Attention : cette information sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>

{% endblock %}